/*********************************************************************************************/
/*********************************************************************************************/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    height: 1000px;
}

#content{
    height: 500px;
    background-color: white;
}

/*********************************************************************************************/
/*********************************** leftSide ************************************************/
/*********************************************************************************************/

#content #leftSide{
    width: 35%;
    float: left;
    text-align: center;
}


/*******************************************************************/
/******************* profilePicture ********************************/

#content #leftSide #profilePicture{
    height: 300px;
    padding-top: 20px;
    background-color: #385964;
}

#content #leftSide #profilePicture img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#content #leftSide #profilePicture h1{
    font-family: cursive;
    color: white;
}
#content #leftSide #profilePicture p{
    font-family: cursive;
    color: #00aec3;
}

/*******************************************************************/
/******************* personalInfo **********************************/

#content #leftSide #personalInfo{
    height: 160px;
    padding-top: 50px;
    background-color: #00aec3;
}

#content #leftSide #personalInfo h1{
    color: white;
    background-color: #385964;
    padding: 5px;
}

#content #leftSide #personalInfo p{
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

/*******************************************************************/
/******************** contacts *************************************/

#content #leftSide #contacts{
    height: 510px;
    padding-top: 50px;
    background-color: #00aec3;
}

#content #leftSide #contacts h1{
    color: white;
    background-color: #385964;
    padding: 5px;
}

#content #leftSide #contacts .contactBlock{
    text-align: left;
    margin-top: 10px;
    height: 50px;
}

#content #leftSide #contacts .contactBlock a{
    color: black;
    text-decoration: none;
    float: left;
    margin-top: 10px;
    color: white;
}

#content #leftSide #contacts p{
    display: inline-block;
    float: left;
    margin-top: 10px;
    color: white;
}

#content #leftSide #contacts img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 15px;
    float: left;
}

/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/


#content #rightSide{
    width: 60%;
    float: left;
    padding-top: 30px;
}


#content #rightSide .rightSideBlock{
    border-bottom: 2px solid #385964;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
}

#content #rightSide .rightSideBlock h1{
    text-transform: uppercase;
    color: #00aec3;
    margin-bottom: 10px;
}


/*******************************************************************/
/************************** Profile ********************************/
#content #rightSide #profile{
    height: 120px;
}

#content #rightSide #profile p{}

/*******************************************************************/
/************************* Education *******************************/
#content #rightSide #education{
    height: 220px;
}

#content #rightSide #education .educationBlock{
    height: 60px;
}

#content #rightSide #education h2{
    float: left;
    width: 200px;
    font-size: 20px;
    font-weight: lighter;
    color: #385964;
}

#content #rightSide #education p{
    float: left;
    margin-left: 50px;
}


/*******************************************************************/
/*************************** Skills ********************************/
#content #rightSide #skills{}

#content #rightSide #skills #mainSkills{}

#content #rightSide #skills #mainSkills img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
}

#content #rightSide #skills #otherSkills{
    margin-top: 10px;
}

#content #rightSide #skills #otherSkills h3{
    margin-bottom: 10px;
}

#content #rightSide #skills #otherSkills .otherSkillsBlock{
    height: 30px;
    margin-left: 20px;
}

#content #rightSide #skills #otherSkills .otherSkillsBlock h4{
    float: left;
    width: 250px;
    font-weight: 600;
}

#content #rightSide #skills #otherSkills .otherSkillsBlock p{
    float: left;
    width: 400px;
    
}


/*******************************************************************/
/*************************** Courses *******************************/
#content #rightSide #courses{}

#content #rightSide #courses .courseBlock{
    height: 30px;
}

#content #rightSide #courses .courseBlock h3{
    float: left;
    width: 100px;
}

#content #rightSide #courses .courseBlock p{
    float: left;
    width: 600px;
}
























